.form-floating>label{
  text-align: center;
  position: static;
  padding: 20px 0 5px;
}

.form-signin {
  text-align: center;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 3% auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}
