{% extends "base/head.html" %}
{% load static %}
{% block title%}Registro{% endblock %}
{% block content %}
<div class="container" style="text-align:center;">
    <section id="registro" class="inline">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="{% static 'images/MoviesHub.png' %}" alt="logo" style="filter: brightness(100%); border-radius:10%;">
        <h2>Registro</h2>
        <p class="lead">Registrate para poder comentar, calificar películas y ser parte de nuestra comunidad!</p>
      </div>
      <div class="row g-5">
        <!-- Come here i you need to reduce the size of the form -->
        <div class="col-md-7 col-lg-12">
          <form class="needs-validation form_signin" method="POST" enctype="multipart/form-data" style="text-align:initial" novalidate>
            {% csrf_token %}
            <!-- {{ form.as_p }} -->
            <div class="row">
              <div class="col-6">
                <label for="id_nombre" class="form-label">Nombre:</label>
                {{ form.name }}
                {{ form.help_text }}
              </div>
              <div class="col-6">
                <label for="id_nombre" class="form-label">Apellidos:</label>
                {{ form.lastname }}
                {{ form.help_text }}
              </div>
            </div>
            <div class="row" style="padding-top:30px;">
              <div class="col-6">
                <label for="id_nombre" class="form-label">Nombre de Usuario:</label>
                {{ form.username }}
                {{ form.help_text }}
              </div>
              <div class="col-6">
                <label for="id_nombre" class="form-label">Correo:</label>
                {{ form.email }}
                {{ form.help_text }}
              </div>
            </div>

            <div class="row" style="padding-top:30px;">
              <div class="col-6">
                <label for="id_nombre" class="form-label">Contraseña:</label>
                {{ form.password }}
                {{ form.help_text }}
              </div>
              <div class="col-6">
                <label for="id_nombre" class="form-label">Confirme Contraseña:</label>
                {{ form.password }}
                {{ form.help_text }}
              </div>
            </div>
            <hr class="my-4">
            <div class="buttoms" style="text-align:center;">
              <button class="btn btn-primary btn-lg" style="margin:auto;width:25%;" type="submit">Registrar</button>
              <button class="btn btn-primary btn-lg" style="margin:auto;width:25%;" type="reset">Cancelar</button>
            </div>
          </form>
        </div>
        </div>
    </section>
    </div>
{% endblock %}
