{% extends "base/head.html" %}
{% load static %}
{% block title%}{{title}}{% endblock %}
{% block content %}

<div class="container">
    <section id="registro" class="inline">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="{% static 'images/MoviesHub.png' %}" alt="logo" style="filter: brightness(100%); border-radius:10%;">
        <h2>Registro</h2>
        <p class="lead">Registrate para poder comentar, calificar películas y ser parte de nuestra comunidad!</p>
      </div>
      <div class="row g-5">
        <!-- Come here i you need to reduce the size of the form -->
        <div class="col-md-7 col-lg-12">
          <form class="needs-validation" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {{ form.as_p }}

            <hr class="my-4">
            <button class="btn btn-primary btn-lg" style="margin:auto;width:25%;" type="submit">Registrar</button>
            <button class="btn btn-primary btn-lg" style="margin:auto;width:25%;" type="reset">Cancelar</button>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" placeholder="Nombre" required>
                <div class="invalid-feedback">
                  Nombre invalido
                </div>
              </div>

              <div class="col-sm-6">
                <label for="id_apellidos" class="form-label">Apellido</label>
                <input type="text" class="form-control" placeholder="Apellido" name="apellido" required>
                <div class="invalid-feedback">
                  Apellido invalido
                </div>
              </div>

              <div class="col-6">
                <label for="nombreUser" class="form-label">Nombre de usuario</label>
                <div class="input-group has-validation">
                  <span class="input-group-text">@</span>
                  <input type="text" class="form-control" placeholder="Nombre de Usuario" required>
                <div class="invalid-feedback">
                    Nombre de usuario valido requerido
                  </div>
                </div>
              </div>

              <div class="col-6">
                <label for="id_correo" class="form-label">Correo</label>
                <input type="email" class="form-control" id="correo" placeholder="you@example.com" required>
                <div class="invalid-feedback">
                  Correo invalido
                </div>
              </div>

              <div class="col-6">
                <label for="contraseña" class="form-label">Contraseña</label>
                <div class="input-group has-validation">
                  <input type="password" class="form-control" id="contraseña" required>
                <div class="invalid-feedback">
                    Contraseña requiere mínimo 8 caracteres, una mayúscula y un número
                  </div>
                </div>
              </div>

              <div class="col-6">
                <label for="confirmCon" class="form-label">Confirme Contraseña</label>
                <input type="password" class="form-control" id="confirmCon" required>
                <div class="invalid-feedback">
                  Contraseña no concuerda
                </div>
              </div>

            <hr class="my-4">
            <button class="btn btn-primary btn-lg" style="margin:auto;width:25%;" type="submit">Registrar</button>
            <button class="btn btn-primary btn-lg" style="margin:auto;width:25%;" type="reset">Cancelar</button>
          </form>
        </div>
    </section>
    </div>
{% endblock %}
